body{
    background-color: gray;
}
.images{color:rgb(141, 17, 69)}


#myHeader {
    background-color: rgb(128, 0, 0);
    color: teal;
    padding: 20px;
    text-align: center;
    
    p{
        font-size: 100px;
    }